<div id="<%= dom_id purchase %>">
  <p>
    <strong>Receipt:</strong>
    <%= image_tag purchase.receipt if purchase.receipt.attached? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

</div>
