<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "Items", items_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Folders", folders_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Purchases", purchases_path, class: "nav-link" %>
  </li>
</ul>
