<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <!-- Add your CSS stylesheets or links here -->
    <style>
        /* Add your custom CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #E74C3C;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: #f4f4f4;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #333;
            text-decoration: none;
            padding: 10px;
            margin: 0 5px;
        }
        section {
            padding: 20px;
            text-align: center;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Supertory</h1>
    </header>
   
   <div class="container">
    <section>
        <h2>Welcome to the Supertory App</h2>
        <p>This app helps you manage your inventory efficiently.</p>
        <!-- You can add more content or features here -->
        <p>Manage all of your inventory while giving your employees access for collaboration. All items must be attached to a folder, facility, purchase info, & product.</p>

        <p>Collaborate with you emplyoees with the comments section on all of your items.</p>
    </div>
    </section>
    <footer>
        <p>&copy; 2024 Inventory App</p>
    </footer>
</body>
</html>
