<div id="<%= dom_id item %>">

  <div class="item-details">
    <p>
    <strong>Item name:</strong>
    <%= item.product.name %>
    </p>

    <div>
    <strong>Description:</strong>
    <%= item.product.description %>
    </div>
  </div>
</div>
