@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  /* Other styles */
}

.ct-nav {
  background-color: #DC1919;
}

.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  font-size: 42px;
}

body {
  font-family: "DM Sans", sans-serif;
}

.form-label {
  font-weight: bold;
  font-size: 20px;
}
#navbarSupportedContent {
  font-weight: bold;
}

/* Custom CSS to style links */
.custom-link {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline */
}

.custom-link:hover {
  color: inherit; /* Change link color on hover if needed */
}

.dropdown-item.active {
  background-color: #cf1002ee; /* Blue background color */
  /* color: #fff; /* White text color */
  /* Add any other styles you want to apply */
} */

.status-dot {
  display: inline-block;
  width: 10px; /* Adjust the size as needed */
  height: 10px; /* Adjust the size as needed */
  border-radius: 50%; /* To create a circular shape */
}

/* Style for the green status dot */
.status-dot-green {
  background-color: green; /* Or any other color you prefer */
}

/* Style for the red status dot */
.status-dot-red {
  background-color: red; /* Or any other color you prefer */
}
